.Input {
  width: 130px;
  -webkit-transition: width 0.5s ease-in-out;
  transition: width 0.5s ease-in-out;
  border: none;
  border-bottom: 4px solid #36d7b7;
  outline: none;
  padding: 10px;
  margin: 20px 10px;
}

.Input:focus {
  width: 40%;
}
.Button {
  display: inline-block;
  padding: 0.5em 3em;
  border: 0.16em solid #ffffff;
  margin: 1em 0.3em 0.3em 1em;
  align-items: center;
  box-sizing: border-box;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 400;
  /* color: #000000; */
  text-align: center;
  transition: all 0.15s;
  outline: none;
}

.Button:hover {
  color: #7a7a7a;
  border-color: #7a7a7a;
}
.Button:focus {
  color: #36d7b7;
  border-color: #36d7b7;
  text-decoration-color: #36d7b7;
}
@media all and (max-width: 30em) {
   .Button {
    display: block;
    margin: 0.4em auto;
  }
}
